In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('enem2019.csv')

In [4]:
df.shape

(127380, 136)

In [5]:
for i in df.columns:
    print(i)

NU_INSCRICAO
NU_ANO
CO_MUNICIPIO_RESIDENCIA
NO_MUNICIPIO_RESIDENCIA
CO_UF_RESIDENCIA
SG_UF_RESIDENCIA
NU_IDADE
TP_SEXO
TP_ESTADO_CIVIL
TP_COR_RACA
TP_NACIONALIDADE
CO_MUNICIPIO_NASCIMENTO
NO_MUNICIPIO_NASCIMENTO
CO_UF_NASCIMENTO
SG_UF_NASCIMENTO
TP_ST_CONCLUSAO
TP_ANO_CONCLUIU
TP_ESCOLA
TP_ENSINO
IN_TREINEIRO
CO_ESCOLA
CO_MUNICIPIO_ESC
NO_MUNICIPIO_ESC
CO_UF_ESC
SG_UF_ESC
TP_DEPENDENCIA_ADM_ESC
TP_LOCALIZACAO_ESC
TP_SIT_FUNC_ESC
IN_BAIXA_VISAO
IN_CEGUEIRA
IN_SURDEZ
IN_DEFICIENCIA_AUDITIVA
IN_SURDO_CEGUEIRA
IN_DEFICIENCIA_FISICA
IN_DEFICIENCIA_MENTAL
IN_DEFICIT_ATENCAO
IN_DISLEXIA
IN_DISCALCULIA
IN_AUTISMO
IN_VISAO_MONOCULAR
IN_OUTRA_DEF
IN_GESTANTE
IN_LACTANTE
IN_IDOSO
IN_ESTUDA_CLASSE_HOSPITALAR
IN_SEM_RECURSO
IN_BRAILLE
IN_AMPLIADA_24
IN_AMPLIADA_18
IN_LEDOR
IN_ACESSO
IN_TRANSCRICAO
IN_LIBRAS
IN_TEMPO_ADICIONAL
IN_LEITURA_LABIAL
IN_MESA_CADEIRA_RODAS
IN_MESA_CADEIRA_SEPARADA
IN_APOIO_PERNA
IN_GUIA_INTERPRETE
IN_COMPUTADOR
IN_CADEIRA_ESPECIAL
IN_CADEIRA_CANHOTO
IN_CADEIRA_ACOLCHOADA
IN_PROVA_DEITADO
IN_MOBILIARIO_OBESO
IN_LAMINA_OVERLAY
IN_PROTETOR_AURICULAR
IN_MEDIDOR_GLICOSE
IN_MAQUINA_BRAILE
IN_SOROBAN
IN_MARCA_PASSO
IN_SONDA
IN_MEDICAMENTOS
IN_SALA_INDIVIDUAL
IN_SALA_ESPECIAL
IN_SALA_ACOMPANHANTE
IN_MOBILIARIO_ESPECIFICO
IN_MATERIAL_ESPECIFICO
IN_NOME_SOCIAL
CO_MUNICIPIO_PROVA
NO_MUNICIPIO_PROVA
CO_UF_PROVA
SG_UF_PROVA
TP_PRESENCA_CN
TP_PRESENCA_CH
TP_PRESENCA_LC
TP_PRESENCA_MT
CO_PROVA_CN
CO_PROVA_CH
CO_PROVA_LC
CO_PROVA_MT
NU_NOTA_CN
NU_NOTA_CH
NU_NOTA_LC
NU_NOTA_MT
TX_RESPOSTAS_CN
TX_RESPOSTAS_CH
TX_RESPOSTAS_LC
TX_RESPOSTAS_MT
TP_LINGUA
TX_GABARITO_CN
TX_GABARITO_CH
TX_GABARITO_LC
TX_GABARITO_MT
TP_STATUS_REDACAO
NU_NOTA_COMP1
NU_NOTA_COMP2
NU_NOTA_COMP3
NU_NOTA_COMP4
NU_NOTA_COMP5
NU_NOTA_REDACAO
Q001
Q002
Q003
Q004
Q005
Q006
Q007
Q008
Q009
Q010
Q011
Q012
Q013
Q014
Q015
Q016
Q017
Q018
Q019
Q020
Q021
Q022
Q023
Q024
Q025

In [6]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127380 entries, 0 to 127379
Data columns (total 136 columns):
 #    Column                       Dtype
---   ------                       -----
 0    NU_INSCRICAO                 int64
 1    NU_ANO                       int64
 2    CO_MUNICIPIO_RESIDENCIA      int64
 3    NO_MUNICIPIO_RESIDENCIA      object
 4    CO_UF_RESIDENCIA             int64
 5    SG_UF_RESIDENCIA             object
 6    NU_IDADE                     int64
 7    TP_SEXO                      object
 8    TP_ESTADO_CIVIL              int64
 9    TP_COR_RACA                  int64
 10   TP_NACIONALIDADE             int64
 11   CO_MUNICIPIO_NASCIMENTO      float64
 12   NO_MUNICIPIO_NASCIMENTO      object
 13   CO_UF_NASCIMENTO             float64
 14   SG_UF_NASCIMENTO             object
 15   TP_ST_CONCLUSAO              int64
 16   TP_ANO_CONCLUIU              int64
 17   TP_ESCOLA                    int64
 18   TP_ENSINO                    float64
 19   IN_TREINEIRO                 int64
 20   CO_ESCOLA                    float64
 21   CO_MUNICIPIO_ESC             float64
 22   NO_MUNICIPIO_ESC             object
 23   CO_UF_ESC                    float64
 24   SG_UF_ESC                    object
 25   TP_DEPENDENCIA_ADM_ESC       float64
 26   TP_LOCALIZACAO_ESC           float64
 27   TP_SIT_FUNC_ESC              float64
 28   IN_BAIXA_VISAO               int64
 29   IN_CEGUEIRA                  int64
 30   IN_SURDEZ                    int64
 31   IN_DEFICIENCIA_AUDITIVA      int64
 32   IN_SURDO_CEGUEIRA            int64
 33   IN_DEFICIENCIA_FISICA        int64
 34   IN_DEFICIENCIA_MENTAL        int64
 35   IN_DEFICIT_ATENCAO           int64
 36   IN_DISLEXIA                  int64
 37   IN_DISCALCULIA               int64
 38   IN_AUTISMO                   int64
 39   IN_VISAO_MONOCULAR           int64
 40   IN_OUTRA_DEF                 int64
 41   IN_GESTANTE                  int64
 42   IN_LACTANTE                  int64
 43   IN_IDOSO                     int64
 44   IN_ESTUDA_CLASSE_HOSPITALAR  int64
 45   IN_SEM_RECURSO               int64
 46   IN_BRAILLE                   int64
 47   IN_AMPLIADA_24               int64
 48   IN_AMPLIADA_18               int64
 49   IN_LEDOR                     int64
 50   IN_ACESSO                    int64
 51   IN_TRANSCRICAO               int64
 52   IN_LIBRAS                    int64
 53   IN_TEMPO_ADICIONAL           int64
 54   IN_LEITURA_LABIAL            int64
 55   IN_MESA_CADEIRA_RODAS        int64
 56   IN_MESA_CADEIRA_SEPARADA     int64
 57   IN_APOIO_PERNA               int64
 58   IN_GUIA_INTERPRETE           int64
 59   IN_COMPUTADOR                int64
 60   IN_CADEIRA_ESPECIAL          int64
 61   IN_CADEIRA_CANHOTO           int64
 62   IN_CADEIRA_ACOLCHOADA        int64
 63   IN_PROVA_DEITADO             int64
 64   IN_MOBILIARIO_OBESO          int64
 65   IN_LAMINA_OVERLAY            int64
 66   IN_PROTETOR_AURICULAR        int64
 67   IN_MEDIDOR_GLICOSE           int64
 68   IN_MAQUINA_BRAILE            int64
 69   IN_SOROBAN                   int64
 70   IN_MARCA_PASSO               int64
 71   IN_SONDA                     int64
 72   IN_MEDICAMENTOS              int64
 73   IN_SALA_INDIVIDUAL           int64
 74   IN_SALA_ESPECIAL             int64
 75   IN_SALA_ACOMPANHANTE         int64
 76   IN_MOBILIARIO_ESPECIFICO     int64
 77   IN_MATERIAL_ESPECIFICO       int64
 78   IN_NOME_SOCIAL               int64
 79   CO_MUNICIPIO_PROVA           int64
 80   NO_MUNICIPIO_PROVA           object
 81   CO_UF_PROVA                  int64
 82   SG_UF_PROVA                  object
 83   TP_PRESENCA_CN               int64
 84   TP_PRESENCA_CH               int64
 85   TP_PRESENCA_LC               int64
 86   TP_PRESENCA_MT               int64
 87   CO_PROVA_CN                  float64
 88   CO_PROVA_CH                  float64
 89   CO_PROVA_LC                  float64
 90   CO_PROVA_MT                  float64
 91   NU_NOTA_CN                   float64
 92   NU_NOTA_CH                   float64
 93   NU_NOTA_LC                   float64
 94   NU_NOTA_MT                   float64
 95   TX_RESPOSTAS_CN              object
 96   TX_RESPOSTAS_CH              object
 97   TX_RESPOSTAS_LC              object
 98   TX_RESPOSTAS_MT              object
 99   TP_LINGUA                    int64
 100  TX_GABARITO_CN               object
 101  TX_GABARITO_CH               object
 102  TX_GABARITO_LC               object
 103  TX_GABARITO_MT               object
 104  TP_STATUS_REDACAO            float64
 105  NU_NOTA_COMP1                float64
 106  NU_NOTA_COMP2                float64
 107  NU_NOTA_COMP3                float64
 108  NU_NOTA_COMP4                float64
 109  NU_NOTA_COMP5                float64
 110  NU_NOTA_REDACAO              float64
 111  Q001                         object
 112  Q002                         object
 113  Q003                         object
 114  Q004                         object
 115  Q005                         int64
 116  Q006                         object
 117  Q007                         object
 118  Q008                         object
 119  Q009                         object
 120  Q010                         object
 121  Q011                         object
 122  Q012                         object
 123  Q013                         object
 124  Q014                         object
 125  Q015                         object
 126  Q016                         object
 127  Q017                         object
 128  Q018                         object
 129  Q019                         object
 130  Q020                         object
 131  Q021                         object
 132  Q022                         object
 133  Q023                         object
 134  Q024                         object
 135  Q025                         object
dtypes: float64(24), int64(71), object(41)
memory usage: 132.2+ MB

In [7]:
clean_df = df[['NU_ANO','NO_MUNICIPIO_RESIDENCIA','SG_UF_RESIDENCIA','NU_IDADE','TP_SEXO','TP_ESTADO_CIVIL','TP_COR_RACA','TP_NACIONALIDADE','TP_ST_CONCLUSAO','TP_ANO_CONCLUIU','TP_ESCOLA','TP_ENSINO']].copy()

In [8]:
clean_df

,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO
0,2019,1506138,Redenção,15,PA,17,M,1,3,1,3,0,1,NaN
1,2019,1504208,Marabá,15,PA,23,M,1,3,1,1,3,1,1.0
2,2019,1501402,Belém,15,PA,35,F,2,1,1,1,12,1,1.0
3,2019,1507300,São Félix do Xingu,15,PA,23,F,1,3,1,1,7,1,NaN
4,2019,1500800,Ananindeua,15,PA,16,F,1,3,1,3,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127375,2019,3142700,Montalvânia,31,MG,17,F,1,1,1,2,0,2,1.0
127376,2019,2902807,Barra da Estiva,29,BA,18,M,1,2,1,2,0,2,1.0
127377,2019,2927408,Salvador,29,BA,22,F,1,3,1,1,1,1,NaN
127378,2019,2930709,Simões Filho,29,BA,26,F,2,2,1,1,6,1,1.0
127379,2019,3106200,Belo Horizonte,31,MG,19,M,1,2,1,2,0,2,1.0